<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.videosdk.rtc.android.java">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Common.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoSDKRTC"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".GroupCall.Activity.GroupCallActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".Common.Activity.CreateOrJoinActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneToOneCall.OneToOneCallActivity"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true" />

        <meta-data
            android:name="notificationTitle"
            android:value="@string/notificationTitle" />
        <meta-data
            android:name="notificationContent"
            android:value="@string/notificationContent" />
        <meta-data
            android:name="notificationIcon"
            android:resource="@mipmap/ic_launcher_round" />
    </application>

</manifest>