<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.videosdk.rtc.android.java">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Needed to communicate with already-paired Bluetooth devices. (Legacy up to Android 11) -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />

    <!-- Needed to communicate with already-paired Bluetooth devices. (Android 12 upwards)-->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.VideoSDKRTC"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ChatActivity" />

        <activity
            android:name=".CreateOrJoinActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".JoinActivity"
            android:parentActivityName=".CreateOrJoinActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            />

        <meta-data
            android:name="notificationTitle"
            android:value="@string/notificationTitle" />
        <meta-data
            android:name="notificationContent"
            android:value="@string/notificationContent" />
        <meta-data
            android:name="notificationIcon"
            android:resource="@mipmap/ic_launcher_round" />

    </application>

</manifest>